body {
	margin: 0;
	/* background:-webkit-gradient(linear, 0 0, 0 bottom, from(#6f0000), to(rgba(0, 0, 60, 0.5))); */
	background:-moz-linear-gradient(left,#ace,#f96);/*Mozilla*/
	background:-webkit-gradient(linear,0 50%,100% 50%,from(#ace),to(#f96));/*Old gradient for webkit*/
	background:-webkit-linear-gradient(left,#ace,#f96);/*new gradient for Webkit*/
	background:-o-linear-gradient(left,#ace,#f96); /*Opera11*/

}
table img {
	width:50px;
	height: 50px;
}
.comment_line {
	
}

/* .head_menu {
	margin: 0;
	float:left;
	position:absolute;
	left:
}
 */
.searchform {
	margin:0 0 16px;
	padding:20px 20px 12px;
	float:left;
}
#formsearch {
	margin:0;
	padding:0;
	width:auto;
	height:30px;
}
#formsearch span {
	/* width:221px;
	height:31px; */
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:none;
}
#formsearch input.editbox_search {
	margin:0;
	padding-left:10px;
	float:left;
	font-size:12px;
	line-height:16px;
	color:#111111;
	outline:none;
	border:none;
	
	background: url("image/search_bg.png") no-repeat;
    width: 168px;
    height: 31px;

}
#formsearch input.button_search {
	width:29px;
	height:31px;
	background: url("image/search.png") no-repeat;
	margin:0;
	padding:0;
	border:none;
	float:left;
}





.cur {
	border: 1px solid #000;
	padding: 3px 5px;
	color: red;
}
.wrapper {
	width:700px;
	margin: 0 auto;
}
.wb {
	background:#fff;
	margin: 10px;
	padding: 10px 10px 10px 80px;
	position: relative;
	border-radius: 5px;
}
.wb > img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left:10px;
	top:10px;
}
.wb > h3 {
	margin: 0;
}	
.wrapper {
	width:960px;
	margin: 0 auto;
}
.wb {
	background:#fff;
	margin: 10px;
	padding: 10px 10px 10px 80px;
	position: relative;
	border-radius: 5px;
}
.wb > img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left:10px;
	top:10px;
}
.wb > h3 {
	margin: 0;
}
.top {
	background:#fff;
	margin: 10px;
	padding: 10px 10px 10px 80px;
	position: relative;
	border-radius: 5px;
}
.top > img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left:10px;
	top:10px;
}
.top > h3 {
	margin: 0;
}