body {
	margin: 0;
	/* background:-webkit-gradient(linear, 0 0, 0 bottom, from(#6f0000), to(rgba(0, 0, 60, 0.5))); */
	background:-moz-linear-gradient(left,#ace,#f96);/*Mozilla*/
	background:-webkit-gradient(linear,0 50%,100% 50%,from(#ace),to(#f96));/*Old gradient for webkit*/
	background:-webkit-linear-gradient(left,#ace,#f96);/*new gradient for Webkit*/
	background:-o-linear-gradient(left,#ace,#f96); /*Opera11*/
	position:relative;

}
table img {
	width:50px;
	height: 50px;
}
p {
	margin:0;
	padding:6px;
}

h1 {
	margin:0;
	padding:0 0 0 200px;
	font-size:50px;
	font-weight:normal;
	line-height:1.2em;
	text-transform:none;
	letter-spacing:2px;
}

h1 small {
	color:#333;
	display:block;
	font-size:16px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	
   /* ������ɫ����Ч����debug-ing 
   	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: 50%;
    background-size: 1123px 400px;
    background-repeat: no-repeat;
    background-image: url(https://images.apple.com/v/iphone-7/d/images/overview/camera_how_to_shoot_background_large.jpg); */

}


.menu_nav {
	margin:0;
	padding:10px 0 0;
	position: absolute;
	height:48px;
	float:right;
	top: 20px;
	right: 150px;
}
.menu_nav ul {
	list-style:none;
	padding:0 0 0 2px;
	height:48px;
	float:left;
	border:2px solid #FF3333;
	border-radius: 10px;
}
.menu_nav ul li {
	margin:0;
	padding:0 2px 0 0;
	float:left;
	background:no-repeat right center;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:18px 20px;
	font-size:15px;
	line-height:20px;
	font-weight:normal;
	color:#FFCC66;
	text-decoration:none;
	text-transform:none;
	text-align:center;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#FF3333;
}


#searchform {
	float: right;
	position: absolute;
	right: 100px;
	top:40px;
	margin:0 0 16px;
	padding:20px 20px 12px;
	float:left;
}

#formsearch {
	margin:0;
	padding:0;
	width:auto;
	height:30px;
}
#formsearch span {
	/* width:221px;
	height:31px; */
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:none;
}
#formsearch input.editbox_search {
	margin:0;
	padding-left:15px;
	float:left;
	font-size:20px;
	line-height:16px;
	color:#111111;
	outline:none;
	border:none;
	
	background: url("image/search_bg.png") no-repeat;
    width: 280px;
    height: 50px;

}
#formsearch input.button_search {
	width:50px;
	height:50px;
	background: url("image/search.png") no-repeat;
	margin:0;
	padding:0;
	border:none;
	float:left;
}


#fabuForm {
	background: url("image/share.png") no-repeat;
	margin:0;
	position: absolute;
	float: left;
	top:160px;
	left: 210px;
	padding: 10px;
	height:126px;
	width: 600px;
}
#formfabu {
	margin:0;
	padding:0;
	width:auto;
	height:30px;
}
#formfabu span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:none;
}

#formfabu .text_field {
	margin:0;
	/* padding-left:10px;
	padding-top:10px; */
	height: 70px; 
	width: 525px; 
	font-size: 14px;
	float:left;
	color:#111111;
	outline:none;
	border:none;
	overflow:hidden;
	resize:none;
	background: none;
	
/* 	background: url("image/share.png") no-repeat; */
    /* width: 480px;
    height: 100px;
 */
}

#formfabu .text_field:hover {
	
}

/* #formfabu input.btn_fabu {
	width:50px;
	height:50px;
	background: url("image/camera.png") no-repeat;
	margin:0;
	padding:0;
	border:none;
	float:left;
} */

.share_img {
    position: relative;
    display: inline-block;
    width: 61px;
    height: 70px;
    background:none;
   /*  background: #e4e4e4 url("image/camera(2).png") no-repeat center center; */
    text-align: center;
    line-height: 68px;
    overflow: hidden;
}
    
.share_img input {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 80px;
    opacity: 0;
    filter: alpha(opacity: 0);
    cursor: pointer;
}

#formfabu input.btn_fabu {
	color: #fff;
	position:absolute;
	top:90px;
	left:12px;
	font-size: 16px;
	border: 0;
	background: none;
	width:60px;
	height:30px;
}


/* #formfabu input.img {
	width:50px;
	height:50px;
	background: url("image/camera.png") no-repeat;
	margin:0;
	padding:0;
	border:none;
	float:left;
} */


.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	height:10px;
	font-size:0;
	line-height:0;
}


.cur {
	border: 1px solid #000;
	padding: 3px 5px;
	color: red;
}
.wrapper-wb {
	width:600px;
	margin: 0 auto;
}

.wrapper-wb > .dynamic-inform {
	position:absolute;
	float: left;
	top: 300px;
	left: 200px;
	width:600px;

}

.wb {
	border: 4px;
	width:510px;
	background:#fff;
	margin: 10px;
	padding: 10px 10px 10px 80px;
	position: relative;
	border-radius: 5px;
	
}
.wb > .pic1 > img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left:10px;
	top:10px;
}
.top > .pic2 > img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left:10px;
	top:10px;
}
.wb > h3 {
	margin: 0;
}




.comment_line > a {
	color:#555555;
	text-decoration:none;
}

.comment_line > .timer {
	float:left;
	left:10px;
	top: 5px;
}

.comment_line > .liked {
	float: right;
	right:50px;
	top:5px;
}

.comment_line > .showcomment {
	float: right;
	right:10px;
	top:5px;
}

.ccontent {
	margin:0;
	padding-left: 10px;
	padding-top: 5px;
	overflow:hidden;
	resize:none;
}

.comment-input input.cc {
	margin:0;
	position:relative;
	paddig-bottom: 10px;
	left:0;
}


.wrapper-top {
	width:100px;
	margin: 0 auto;
}


.top {
	width: 200px;
	background:#fff;
	margin: 10px;
	padding: 10px 10px 10px 80px;
	position: relative;
	border-radius: 5px;
}

.wrapper-top > .top-inform {
	width: 70px;
	position:absolute;
	float: left;
	top: 300px;
	left: 860px;
}

.top > img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left:10px;
	top:10px;
}
.top > h3 {
	margin: 0;
}

.topnickname
{
	
} 
a:link
{
	text-decoration:none;
}
.setting > img
{
	width: 30px;
    position: absolute;
    right: 50px;
    top: 70px;
}
.userinfo
{
	
	width: 300px;
    height: 150px;
    position: absolute;
    right: 250px;
    top: 158px;
	text-color:black;
	
	
}
.userinfo > .userpic > img 
{
	width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 90px;
}
.userinfo > .nickname
{
	position:absolute;
   left: 99px;
    top: 88px;
}

.page-info {
	position:relative;
	padding-top: 10px;
	padding-left: 200px;
	margin-top:10px;
}

/* .page-style {
	position:relative;
	padding-top: 10px;
	padding-left: 200px;
	margin-top:10px;
} */




