*{
    margin:0px;
    padding:0px;
}

body {
    background: url("image/back.jpg") no-repeat;
    background-size: 100%;

}
/* #register{
    background: url("image/register_bac.png") no-repeat;
    width: 800px;
    height: 386px;

    position:absolute;
    top:50%;
    left:50%;
    margin-left: -400px;
    margin-top: -193px;
}

#register h1{
    font-size: 40px;
    font-family:黑体;
    color: white;

    margin-top: 52px;
    margin-left: 47px;
}

#register p{

    font-size: 12px;
    font-family: 宋体;
    color: white;

    line-height: 20px;
    margin-top: 36px;
    margin-left: 47px;
    width: 294px;
}

#btn_register{
    font-size: 14px;
    font-family: "微软雅黑";
    color: white;
    background: url("image/register_btn_bac.png") no-repeat;

    width: 190px;
    line-height: 36px;
    text-align: center;

    border: 0;

    margin-top: 40px;
    margin-left: 47px;
}

#btn_register:hover{
    color: black;
    font-weight: lighter;
    background: url("image/register_btn_bac_hover.png") no-repeat;
} */

#register {
    width:396px;
    height:480px;

    position:absolute;
    top:50%;
    left:50%;
    margin-left: -38px;
    margin-top: -240px;
	
	background: url("image/login_bac.png") no-repeat;   /*  background:#fff; */
    border: 4px;
    box-shadow:0px 0px 5px #999;
    border-radius:5px;

    text-align: center;
}

#register-form {
	position:absolute;
	top:150px;
	left:30px;
}

#image_logo{
   margin-top: 40px;
    margin-bottom:80px ;
}

#email{
	background: url("image/email.png") no-repeat 5px center;
}

#nickName{
    background: url("image/user.png") no-repeat 5px center;
}

#password{
    background: url("image/password.png") no-repeat 5px center;
}

/* #head_image {
	width: 50px;
	height:50px;
	background: url("image/head_icon.png");
	border:none;
} */

.btn-head {
    position: absolute;
    left:100px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("image/head_icon.png") no-repeat;
    text-align: center;
    line-height: 68px;
    overflow: hidden;
}
    
.btn-head input {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 0;
    filter: alpha(opacity: 0);
    cursor: pointer;
}

.text_field{
    width: 330px;
    height: 28px;
    border: 0;
    border-bottom:2px solid #eaeaea;
    text-indent: 50px;
}

/* #forget_pwd{
    font-size: 12px;
    color: #969696;
    text-decoration: none;
    float: right;
}

#forget_pwd:hover {;
    color: #26c1ff;
    text-decoration: underline;
} */



#btn_login{
    font-size: 24px;
    font-family: "微软雅黑";
    color: white;
    background: url("image/btn_login_bac.png");

    width: 330px;
    line-height: 55px;
    text-align: center;

    border: 0;
}

#div_email{
	margin-top:10px;
}

#div_username{
	margin-top: 30px;
}

#div_password{
    margin-top: 30px ;
}

/* #div_forget{
    margin-right: 30px;
    margin-top: 8px;
} */

#div_headimage{
	margin-top: 10px;
}

#div_btn_login{
    margin-top: 75px;
}

#fabuimg {
	position: absolute;
	top:170px;
	left:160px;
}
