body {
	background: url("../image/back.jpg") no-repeat;
    background-size: 100%;
}
#table {
    width: 800px;
    height: 386px;
    background: url("../image/register_bac.png") no-repeat;

    position:absolute;
    top:50%;
    left:50%;
    margin-left: -400px;
    margin-top: -193px;
    text-align:left;
    color : #fff;
}
#finish {
	text-align:right;
}
table img {
	width:50px;
	height: 50px;
    border-style:none;
	}
btn {
    border: 1px solid #CCC;
    width: 60px;
    margin-left: 224px;
    text-align: center;
}
   .ac_file {
    width: 61px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    margin-left: -47px;
}