<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.see.dao.LikedMapper">
	

  <select id="findFollow" resultType="Boolean">
  	SELECT
  		aid,
		follow_aid
		ftime
	FROM
		follow
	WHERE
		aid = #{arg0} AND follow_aid = #{arg1}
  </select>
  
  <delete id="delete" parameterType="_int">
  		DELETE FROM FOLLOW WHERE aid = #{aid}
  </delete>

   <insert id="insert" parameterType="Liked" keyProperty="fid">
 	 INSERT INTO LIKED(aid,follow_aid,ftime)VALUES(#{aid},#{followAid},#{ftime})
   </insert>
   
  
</mapper>