<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.see.dao.WeiboMapper">
	
	<!--  
	<resultMap type="Weibo" id="weiboMap">
		<id column="wid" property="wid"/>
		<result column="wcontent" property="wcontent"/>
		<result column="last_update_time" property="lastUpdateTime"/>
		<result column="service" property="service"/>
		<result column="comment" property="comment"/>
		<result column="liked" property="liked"/>
		<association property="account" javaType="Account">
			<id column="aid" property="aid"/>
			<result column="nick_name" property="nickName"/>
			<result column="pic" property="pic"/>
		</association>
	</resultMap>
	
  <select id="findTOP" resultMap="weiboMap">
  	SELECT
		a.aid,
		a.nick_name,
		a.pic,
		w.wid,
		w.wcontent,
		w.last_update_time,
		w.service,
		w.`comment`,
		w.liked 
	FROM
		weibo w
		LEFT JOIN account a ON a.aid = w.aid
			ORDER BY liked DESC
	    LIMIT 10
  </select>
  -->
   
  <select id="findTop" resultType="Weibo">
  	SELECT
		a.aid "account.aid",
		a.nick_name "account.nickName",
		a.pic "account.pic",
		w.wid,
		w.wcontent,
		w.last_update_time,
		w.service,
		w.`comment`,
		w.liked 
	FROM
		weibo w
		LEFT JOIN account a ON a.aid = w.aid
	ORDER BY liked DESC
	LIMIT 10
  </select>
  
  
  <select id="findByWid" parameterType="int" resultType="Weibo">
  	SELECT
  		wid,
		aid,
		`wcontent`,
		liked,
		comment
	FROM
		weibo
	WHERE
		wid = #{wid}
  </select>
  
  <update id="update" parameterType="Weibo">
  	UPDATE WEIBO
  	<set>
  		<if test="wcontent != null">
  			 `wcontent`=#{wcontent}, 
  		</if>
  		<if test="lastUpdateTime != null">
  			 last_update_time= #{lastUpdateTime}, 
  		</if>
  		<if test="liked!= null">
  			liked = #{liked},
  		</if>
  		<if test="comment != null">
  			comment= #{comment}, 
  		</if>
  		
  	</set>
  	WHERE WID = #{wid}
  </update>
  
  
  
  <insert id="insert" parameterType="Weibo" keyProperty="wid">
  	<selectKey order="BEFORE" keyProperty="wid" resultType="int">
  		select TIME_TO_SEC(NOW())
  	</selectKey>
  	INSERT INTO WEIBO(wid,aid,wcontent,last_update_time,liked,comment,imgname) VALUES(#{wid},#{aid},#{wcontent},#{lastUpdateTime},#{liked},#{comment},#{imgname})
  </insert>
  
   
  
</mapper>